<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-ignaciovaldes/blob/main/Python_for_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python for Data Science

## Learning Objectives
- What is Python and why it is useful
- The application of Python 
- How to define variables
- Sets and conditional statements in Python
- The purpose of having functions in Python
- How to operate on files to read and write data in Python
- How to use pandas, a must-have package for anyone attempting data analysis in Python

## Module 1 – Python Basics

### Learning Objectives
- Understand the available data types in Python
- Be familiar with Python expressions and variables
- Be able to perform basic operations on strings

### Notes
- Object-oriented
- Python 3

### **Types**
- Integers → 11 (int)
  - type(11) = int
  - -4, -3, -2, -1, 0, 1, 2, 3, 4
- Real numbers → 21.213 (float)
  - type(21.213) = float
  - 0.5, 0.6
– Words → "Hello Python 101" (str)
  - type("Hello Python 101") = str
- Boolean → **T**rue or **F**alse
  - bool(1) = True
  - bool(0) = False

In [ ]:
# The value in the parentheses is called the argument
print("Hello Python 101")

# Print statement
print("Hello\nWorld!")

# print('Hello World!')

Hello Python 101
Hello
World!

In [ ]:
# Type casting to change the type of the expression

float(2)

int(1.1)
int('1')

str(1)
str(4.5)

type(True)
type(False)

int(True)
int(False)

bool(1)
bool(0)

False

In [ ]:
# A **Syntactic** error is when Python does not understand your code
# A **Semantic** error is when your logic is wrong

int('A')

ValueError: ignored

### **Expressions**
- Expressions describe a type of operation that computers perform
- Mathematical Operations
- Numbers → Operands
- Maths symbols → Operators

### **Variables**
- We can use variables to store values

In [ ]:
50 - 60
5 * 5
25 / 5
25 / 6
25 // 6

# Python performs multiplication, then addition to obtain the final result
2 * 60 + 30

# Python performs multiplication, then addition to obtain the final result
30 + 2 * 60

# The expressions in the parentheses are performed first
(30 + 2) * 60

my_variable = 1

x = 160
y = x / 60

type(x)

total_min = 43 + 42 + 57
total_hr = total_min / 60
print(total_hr)

2.3666666666666667

### **Strings**
- Is a sequence of characters
- A string is contained within two quotes or single quotes
- Each element in the sequence can be accessed
- Array
- Index
- Inmutable
- String Operations:
  - Slicing
  - Stride
- String Methods:
  - Upper
  - Replace
  - Find

In [ ]:
Name = "Michael Jackson"
Name[0]
Name[-15]

# Slicing
Name[0:4]

# Stride
Name[::2]
Name[0:5:2]
len(Name)

# Concatenate or combine strings
Statement = Name + " is the best!"
print(Statement)

# Tuples
thistuple = ("apple", "banana", "cherry")
3 * Name
3 * "Michael Jackson "

# Scape sequences
print("Michael Jackson \n is the best!")

print("Michael Jackson \t is the best!")

print("Michael Jackson \\ is the best!")
print(r"Michael Jackson \ is the best!")

# Upper
A = "Thriller is the sixth studio album"
B = A.upper()
print(B)

# Replace
C = Statement.replace("Michael", "Janet")
print(C)

# Find
Name.find("el")

Michael Jackson is the best!
Michael Jackson
 is the best!
Michael Jackson 	 is the best!
Michael Jackson \ is the best!
Michael Jackson \ is the best!
THRILLER IS THE SIXTH STUDIO ALBUM
Janet Jackson is the best!

5

In [ ]:
3 + 2 * 2

name = 'Lizz'
print(name[0:2])

var = '01234567'
print(var[::2])

'1'+'2'

Li
0246

'12'

## Module 2 – Python Data Structures

### Learning Objectives
- Lists and Tuples 
- Sets
- Dictionaries 

### Notes

### **Tuples**
- Ordered sequence
- Inmutable

In [ ]:
Ratings = (10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
print(Ratings)

tuple1 = ("disco", 10, 1.2)
print(tuple1)
type(tuple1)

tuple1[0]
tuple1[-3]

tuple2 = tuple1 + ("hard rock", 10)
print(tuple2)

tuple2[0:3]
len(tuple2)

RatingsSorted = sorted(Ratings)
print(RatingsSorted)

# Nesting
NT = (1, 2, ("pop", "rock"), (3, 4), ("disco", (1, 2)))
NT[2]
NT[2][1]

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
('disco', 10, 1.2)
('disco', 10, 1.2, 'hard rock', 10)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

'rock'

### **List**
- Ordered sequence
- Mutable
- A = B (aliasing)

In [ ]:
L = ["Michael Jackson", 10.1, 1982]

# Methods
L.extend(["pop", 10])
print(L)

L.append(["pop", 10])
print(L)

A = ["disco", 10, 1.2]
A[0] = "hard rock"
print(A)

# Command
del(A[0])
print(A)

"hard rock".split()
"A, B, C, D".split(",")

# Aliasing
B = A

# Clone
B = A[:]
print(B)

help(A)

['Michael Jackson', 10.1, 1982, 'pop', 10]
['Michael Jackson', 10.1, 1982, 'pop', 10, ['pop', 10]]
['hard rock', 10, 1.2]
[10, 1.2]
[10, 1.2]

['b', 'c']